body {
    font-family: "Comic Sans MS", "Chalkboard", sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: #2e2e2e;
    color: #d4af37;
}

.jeer-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    max-width: 600px;
}

.goblin-response {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.goblin-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 10px;
}

h1 {
    color: #f44336;
}

button, input[type="submit"] {
    margin-top: 20px;

    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #d32f2f;
}


.button, input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: auto;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
}

/* Add margin-right for the first button */
input[type="submit"] {
    margin-right: 10px; /* This adds space between "Get Jeered" and "Goblin of the Day" */
}

.button:hover, input[type="submit"]:hover {
    background-color: #d32f2f;
}




input[type="text"], input[type="radio"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
